.card{
    width: 200px;
    height: 200px;
    border: 1px solid lightgreen;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.card:hover{
    transition: 1s;
    color: black;
    background-color: lightgreen;
}
